table {
    border-collapse: collapse;
    width: 100%;
    margin: 55px;
    border: 2px solid red;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
   
  tr {
    border: 10px;
  }